* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  background-image: linear-gradient(pink, silver);
}
.cat {
  margin-top: 100px;
  position: relative;
  transform: rotate(-3deg);
  -webkit-animation: tilt 15s infinite;
  animation: tilt 15s infinite;
}
.head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #292e2b;
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 265px;
  border: black solid;
  border-radius: 50% 50% 50% 50%/65% 65% 35% 35%;
}
.ear {
  z-index: 3;
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  background: #5e6a63;
  border-radius: 70% 30% 48% 52% / 99% 100% 0% 1%;
  border: 4px black solid;
  top: -28px;
  left: -28px;
  transform: rotate(-45deg);
}
.temp {
  position: relative;
  width: 100%;
  height: 100%;
}
.inner-ear {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #6b7871;
  border-radius: 0% 100% 60% 40% / 100% 0% 100% 0%;
  left: -30px;
  box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.3);
}
.ear1,
.ear2 {
  position: relative;
  z-index: -1;
}
.ear2 {
  transform: scale(-1, 1);
}
.shade1 {
  background-color: #323935;
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 340px;
  height: 240px;
  border-radius: 50% 50% 50% 50%/65% 65% 35% 35%;
  z-index: 0;
}
.shade2 {
  background-color: #414945;
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 300px;
  height: 170px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}
.eye-cont {
  margin-top: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}
.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.eye-shade {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #9af9ad;
  bottom: -5px;
}
.pupil {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: black;
  -webkit-animation: pupil 5s infinite;
  animation: pupil 5s infinite;
}
.eye-white {
  width: 15px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(60deg);
  margin-bottom: 20px;
  margin-right: 3px;
}
.eye-light {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 30px;
  height: 20px;
  border-bottom: 7px rgba(255, 255, 255, 0.1) solid;
  border-radius: 50%;
}
.nose-cont {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 60px;
}
.nose {
  position: relative;
  width: 25px;
  height: 15px;
  background: black;
  border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%;
}
.mouth {
  position: absolute;
  top: -10px;
  left: -17px;
  width: 30px;
  height: 40px;
  border-bottom: 6px black solid;
  border-radius: 50%;
  background: transparent;
}
.mouth2 {
  left: 11.5px;
}

.whiskers {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.whisker {
  position: absolute;
  width: 100px;
  height: 30px;
  border-top: 3px black solid;
  /* border-radius: 50%; */
  background: transparent;
  left: -50px;
  transform-origin: right;
}
.whisker1 {
  bottom: 40px;
  transform: rotate(-10deg);
  -webkit-animation: move1 8s infinite;
  animation: move1 8s infinite;
}
.whisker2 {
  bottom: 25px;
  transform: rotate(-20deg);
  -webkit-animation: move2 5s infinite;
  animation: move2 5s infinite;
}
.whisker3 {
  bottom: 55px;
  -webkit-animation: move3 6s infinite;
  animation: move3 6s infinite;
}
.whiskers2 {
  transform: scale(-1, 1);
}
.hold {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.body {
  z-index: -1;
  position: absolute;
  top: -40px;
  width: 270px;
  height: 250px;
  background-color: #292e2b;
  border: black solid;
  margin-bottom: 200px;
  border-radius: 50% 50% 40% 40% / 100% 100% 35% 35%;
  -webkit-animation: body 5s infinite;
  animation: body 5s infinite;
  box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.4);
}
.body-shade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  left: 7px;
  z-index: -1;
  position: absolute;
  top: 45px;
  width: 250px;
  height: 190px;
  background-color: #414945;
  border-radius: 50% 50% 40% 40% / 100% 100% 35% 35%;
  box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.3);
}
.body-shade-inner {
  width: 200px;
  height: 140px;
  background-color: rgba(107, 120, 113, 0.2);
  border-radius: 50% 50% 40% 40% / 100% 100% 35% 35%;
  box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.1);
}
.cont {
  position: relative;
  width: 100%;
  height: 100%;
}

.heart {
  margin-top: 60px;
  margin-left: 100px;
  position: relative;
  -webkit-animation: beat 3s infinite;
  animation: beat 3s infinite;
}

.heart::before,
.heart::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background: pink;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.leg {
  position: absolute;
  display: flex;
  /*justify-content: space-around;*/
  align-items: flex-end;
  z-index: -1;
  bottom: -12px;
  left: 40px;
  width: 45px;
  height: 35px;
  background: #292e2b;
  border: black solid;
  border-radius: 50% 50% 0 0;
  -webkit-animation: feet 5s infinite;
  animation: feet 5s infinite;
  box-shadow: inset -15px 0 15px rgba(0, 0, 0, 0.4);
}
.leg2 {
  left: 175px;
}
.toes {
  display: flex;
  width: 100%;
  height: 10px;
}
.toes {
  transform: scale(-1, 1);
}
.toe {
  background: #414945;
  border-radius: 50% 50% 0 0;
  display: flex;
  flex-grow: 1;
  border: 1px black solid;
}
.tail {
  position: absolute;
  height: 150px;
  width: 40px;
  border-radius: 50%;
  background: #292e2b;
  border: black solid;
  transform: rotate(-30deg);
  transform-origin: bottom;
  top: -15px;
  left: -130px;
  z-index: -1;
  -webkit-animation: wiggle 1s infinite;
  animation: wiggle 1s infinite;
}

@media screen and (min-width: 1000px) {
  body {
    justify-content: flex-start;
  }
}

@-webkit-keyframes move1 {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes move1 {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes move2 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-16deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes move2 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-16deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes move3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move3 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes eyes {
  0% {
    margin-right: 3px;
  }
  50% {
    margin-right: 5px;
  }
  100% {
    margin-right: 3px;
  }
}
@keyframes eyes {
  0% {
    margin-right: 3px;
  }
  50% {
    margin-right: 5px;
  }
  100% {
    margin-right: 3px;
  }
}
@-webkit-keyframes pupil {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes pupil {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-7px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes tilt {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes feet {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes feet {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes body {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes body {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes wiggle {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
